# Copyright (C) 2021 The Home Control Authors
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

SQLALCHEMY_DATABASE_URI = "driver://user:password@host/db"

# Generate with secrets.token_urlsafe()
SECRET_KEY = "notreallyasecret-pleasedontuse"
# Put your local network here (or None)
LOCAL_NET = "192.168.1.0/24"

MQTT_HOST = "1.2.3.4"
MQTT_USER = "username"
MQTT_PASS = "password"

BIND_IP = "127.0.0.1"
API_PORT = 8000
FRONTEND_HTTP_PORT = 8080
FRONTEND_HTTPS_PORT = 8443
WS_PORT = 8765


TIMEZONE="UTC"

# Remove comment to skip printing new thing states as they are processed
# LOG_NEW_STATES = False
